# Local Node.js Portable
nodejs/
nodejs_temp/

# .NET Build output
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
Publish/

# Next.js / React / Node.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# Local database files
*.mdf
*.ldf

# Uploaded files
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
